# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Output
script/log/output/

# SQLite databases
script/log/db/

# Dotenv file
.env
.account
script/log/__pycache__/event_processor.cpython-311.pyc
script/log/__pycache__/event_processor.cpython-312.pyc
